USE [master]
GO
/****** Object:  Database [QuanLyHopDongDichVuChungCu]    Script Date: 8/8/2024 1:44:40 AM ******/
CREATE DATABASE [QuanLyHopDongDichVuChungCu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyHopDongDichVuChungCu', FILENAME = N'D:\Apps\SQL2019PackAdditional\InstanceRootDirectory\MSSQL15.MSSQLSERVER2\MSSQL\DATA\QuanLyHopDongDichVuChungCu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyHopDongDichVuChungCu_log', FILENAME = N'D:\Apps\SQL2019PackAdditional\InstanceRootDirectory\MSSQL15.MSSQLSERVER2\MSSQL\DATA\QuanLyHopDongDichVuChungCu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyHopDongDichVuChungCu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyHopDongDichVuChungCu]
GO
/****** Object:  User [manager]    Script Date: 8/8/2024 1:44:41 AM ******/
CREATE USER [manager] FOR LOGIN [manager] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [manager]
GO
/****** Object:  UserDefinedFunction [dbo].[GENERATE_MA]    Script Date: 8/8/2024 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GENERATE_MA]()
RETURNS NVARCHAR (50)
AS
BEGIN
	DECLARE @MAX_MA NVARCHAR(50)
	SET @MAX_MA = (SELECT 'NV' + CAST(ISNULL(MAX(CAST(SUBSTRING(MA,3,LEN(MA))AS INT)),0)+1 AS NVARCHAR) FROM BANQUANLY)
	RETURN @MAX_MA
END
GO
/****** Object:  UserDefinedFunction [dbo].[GENERATE_MADIEUKHOAN]    Script Date: 8/8/2024 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GENERATE_MADIEUKHOAN]()
RETURNS NVARCHAR (50)
AS
BEGIN
	DECLARE @MAX_MA NVARCHAR(50)
	SET @MAX_MA = (SELECT 'DK' + CAST(ISNULL(MAX(CAST(SUBSTRING(MA,3,LEN(MA))AS INT)),0)+1 AS NVARCHAR) FROM DIEUKHOAN)
	RETURN @MAX_MA
END
GO
/****** Object:  Table [dbo].[BANGGIA]    Script Date: 8/8/2024 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGGIA](
	[IDBANGGIA] [bigint] IDENTITY(1,1) NOT NULL,
	[NOIDUNG] [ntext] NULL,
	[THOIGIANBATDAU] [datetime] NOT NULL,
	[THOIGIANKETTHUC] [datetime] NOT NULL,
	[APDUNG] [bit] NOT NULL,
	[MABANQUANLY] [nvarchar](50) NULL,
 CONSTRAINT [PK_BANGGIA_1] PRIMARY KEY CLUSTERED 
(
	[IDBANGGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANQUANLY]    Script Date: 8/8/2024 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANQUANLY](
	[MA] [nvarchar](50) NOT NULL,
	[HO] [nvarchar](50) NULL,
	[TEN] [nvarchar](100) NULL,
	[SDT] [nchar](10) NULL,
	[EMAIL] [nvarchar](128) NOT NULL,
	[DIACHI] [nvarchar](200) NULL,
	[CMND] [nchar](12) NOT NULL,
	[NGHI] [bit] NOT NULL,
 CONSTRAINT [PK_BANQUANLY] PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CANHO]    Script Date: 8/8/2024 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANHO](
	[IDCANHO] [int] IDENTITY(1,1) NOT NULL,
	[SOPHONG] [char](3) NULL,
	[TANG] [int] NOT NULL,
	[LO] [varchar](1) NOT NULL,
	[IDLOAIPHONG] [int] NOT NULL,
	[DIENTICH] [decimal](18, 2) NULL,
	[TIENNGHI] [ntext] NULL,
	[MOTA] [ntext] NULL,
	[GIATHUE] [money] NULL,
	[TRANGTHAI] [bit] NULL,
	[CHUKY] [int] NULL,
	[CHUKYDONG] [int] NULL,
 CONSTRAINT [PK_CANHO] PRIMARY KEY CLUSTERED 
(
	[IDCANHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDKCANHO]    Script Date: 8/8/2024 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDKCANHO](
	[IDCTDKCANHO] [bigint] IDENTITY(1,1) NOT NULL,
	[IDCANHO] [int] NOT NULL,
	[MADIEUKHOAN] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_CTDKCANHO] PRIMARY KEY CLUSTERED 
(
	[IDCTDKCANHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDKDICHVU]    Script Date: 8/8/2024 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDKDICHVU](
	[IDCTDKDICHVU] [bigint] IDENTITY(1,1) NOT NULL,
	[IDDICHVU] [int] NOT NULL,
	[MADIEUKHOAN] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_CTDKDICHVU] PRIMARY KEY CLUSTERED 
(
	[IDCTDKDICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHOPDONG]    Script Date: 8/8/2024 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOPDONG](
	[IDCTHOPDONG] [bigint] IDENTITY(1,1) NOT NULL,
	[IDHOPDONG] [bigint] NOT NULL,
	[MADIEUKHOAN] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_CTDK_1] PRIMARY KEY CLUSTERED 
(
	[IDCTHOPDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTYEUCAUDICHVU]    Script Date: 8/8/2024 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTYEUCAUDICHVU](
	[IDCTYEUCAUDICHVU] [bigint] IDENTITY(1,1) NOT NULL,
	[IDYEUCAUDICHVU] [bigint] NOT NULL,
	[MADIEUKHOAN] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_CTYEUCAUDICHVU] PRIMARY KEY CLUSTERED 
(
	[IDCTYEUCAUDICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 8/8/2024 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[IDDICHVU] [int] IDENTITY(1,1) NOT NULL,
	[TENDICHVU] [nvarchar](50) NOT NULL,
	[GHICHU] [ntext] NULL,
	[CHUKY] [int] NULL,
	[GIAHIENTAI] [money] NOT NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[IDDICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEUKHOAN]    Script Date: 8/8/2024 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEUKHOAN](
	[MA] [nvarchar](10) NOT NULL,
	[NOIDUNG] [ntext] NOT NULL,
 CONSTRAINT [PK_DIEUKHOAN_1] PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIACANHO]    Script Date: 8/8/2024 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIACANHO](
	[IDBANGGIA] [bigint] NOT NULL,
	[IDCANHO] [int] NOT NULL,
	[GIA] [money] NOT NULL,
 CONSTRAINT [PK_GIACANHO] PRIMARY KEY CLUSTERED 
(
	[IDBANGGIA] ASC,
	[IDCANHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIADICHVU]    Script Date: 8/8/2024 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIADICHVU](
	[IDBANGGIA] [bigint] NOT NULL,
	[IDDICHVU] [int] NOT NULL,
	[GIA] [money] NOT NULL,
 CONSTRAINT [PK_GIADICHVU_1] PRIMARY KEY CLUSTERED 
(
	[IDBANGGIA] ASC,
	[IDDICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HINHANH]    Script Date: 8/8/2024 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINHANH](
	[IDHINHANH] [bigint] IDENTITY(1,1) NOT NULL,
	[DUONGDAN] [text] NOT NULL,
	[TENDANGNHAP] [nvarchar](50) NULL,
	[IDCANHO] [int] NULL,
 CONSTRAINT [PK_HINHANH] PRIMARY KEY CLUSTERED 
(
	[IDHINHANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 8/8/2024 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHOADON] [bigint] IDENTITY(1,1) NOT NULL,
	[THOIGIANTAO] [datetime] NOT NULL,
	[THOIGIANDONG] [datetime] NULL,
	[TONGHOADON] [money] NOT NULL,
	[IDHOPDONG] [bigint] NULL,
	[IDYEUCAUDICHVU] [bigint] NULL,
	[TRANGTHAI] [bit] NOT NULL,
 CONSTRAINT [PK_HOADON_1] PRIMARY KEY CLUSTERED 
(
	[SOHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 8/8/2024 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[IDHOPDONG] [bigint] IDENTITY(1,1) NOT NULL,
	[NGAYLAP] [datetime] NOT NULL,
	[MAKHACHHANG] [nvarchar](50) NOT NULL,
	[IDCANHO] [int] NOT NULL,
	[GIATRI] [money] NOT NULL,
	[NGAYBATDAU] [datetime] NOT NULL,
	[THOIHAN] [datetime] NOT NULL,
	[THOIGIANDONG] [datetime] NULL,
	[CHUKYDONG] [int] NOT NULL,
	[CHUKY] [int] NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[YEUCAU] [int] NOT NULL,
	[DUYET] [int] NOT NULL,
	[MABANQUANLY] [nvarchar](50) NULL,
 CONSTRAINT [PK_HOPDONG] PRIMARY KEY CLUSTERED 
(
	[IDHOPDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 8/8/2024 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [nvarchar](50) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](100) NOT NULL,
	[SDT] [nchar](10) NOT NULL,
	[EMAIL] [nvarchar](128) NOT NULL,
	[CMND] [nchar](12) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 8/8/2024 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[IDLOAIPHONG] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIPHONG] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_LOAIPHONG] PRIMARY KEY CLUSTERED 
(
	[IDLOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 8/8/2024 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[IDQUYEN] [int] IDENTITY(1,1) NOT NULL,
	[TENQUYEN] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_QUYEN] PRIMARY KEY CLUSTERED 
(
	[IDQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 8/8/2024 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDANGNHAP] [nvarchar](50) NOT NULL,
	[MATKHAU] [ntext] NOT NULL,
	[IDQUYEN] [int] NOT NULL,
	[KHOA] [bit] NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YEUCAUDICHVU]    Script Date: 8/8/2024 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YEUCAUDICHVU](
	[IDYEUCAUDICHVU] [bigint] IDENTITY(1,1) NOT NULL,
	[IDHOPDONG] [bigint] NOT NULL,
	[IDDICHVU] [int] NOT NULL,
	[GIATRA] [money] NOT NULL,
	[NGAYYEUCAU] [datetime] NOT NULL,
	[THOIHAN] [datetime] NULL,
	[CHUKY] [int] NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[YEUCAU] [int] NOT NULL,
	[DUYET] [int] NOT NULL,
	[MABANQUANLY] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHIPHITHEM_1] PRIMARY KEY CLUSTERED 
(
	[IDYEUCAUDICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BANGGIA] ON 

INSERT [dbo].[BANGGIA] ([IDBANGGIA], [NOIDUNG], [THOIGIANBATDAU], [THOIGIANKETTHUC], [APDUNG], [MABANQUANLY]) VALUES (1, N'Sinh nhật', CAST(N'2024-07-19T03:31:10.547' AS DateTime), CAST(N'2024-07-19T03:31:10.547' AS DateTime), 0, NULL)
INSERT [dbo].[BANGGIA] ([IDBANGGIA], [NOIDUNG], [THOIGIANBATDAU], [THOIGIANKETTHUC], [APDUNG], [MABANQUANLY]) VALUES (2, N'Sinh nhật 2', CAST(N'2024-07-19T03:38:28.607' AS DateTime), CAST(N'2024-07-19T03:38:28.607' AS DateTime), 0, NULL)
INSERT [dbo].[BANGGIA] ([IDBANGGIA], [NOIDUNG], [THOIGIANBATDAU], [THOIGIANKETTHUC], [APDUNG], [MABANQUANLY]) VALUES (3, N'Tháng sale', CAST(N'2024-07-19T03:38:32.820' AS DateTime), CAST(N'2024-07-19T03:38:32.820' AS DateTime), 0, NULL)
SET IDENTITY_INSERT [dbo].[BANGGIA] OFF
GO
INSERT [dbo].[BANQUANLY] ([MA], [HO], [TEN], [SDT], [EMAIL], [DIACHI], [CMND], [NGHI]) VALUES (N'NV01', N'Trần', N'Thái', N'0924512423', N'tranthai@gmail.com', N'213213', N'972424321234', 0)
INSERT [dbo].[BANQUANLY] ([MA], [HO], [TEN], [SDT], [EMAIL], [DIACHI], [CMND], [NGHI]) VALUES (N'NV2', N'Trần', N'Gia Long', N'3543253243', N'nv2@gmail.com', N'123 Ngô Quyền', N'132332132132', 0)
INSERT [dbo].[BANQUANLY] ([MA], [HO], [TEN], [SDT], [EMAIL], [DIACHI], [CMND], [NGHI]) VALUES (N'NV3', N'Trần', N'Hoàng Minh', N'1321314143', N'trangialongdev18@gmail.com', N'123 Ngô Quyền', N'343421323213', 0)
GO
SET IDENTITY_INSERT [dbo].[CANHO] ON 

INSERT [dbo].[CANHO] ([IDCANHO], [SOPHONG], [TANG], [LO], [IDLOAIPHONG], [DIENTICH], [TIENNGHI], [MOTA], [GIATHUE], [TRANGTHAI], [CHUKY], [CHUKYDONG]) VALUES (1, N'201', 2, N'A', 1, CAST(100.00 AS Decimal(18, 2)), N'Cao cấp', N'Có 2 phòng ngủ, 2 nhà tấm, 1 căn bếp, ban công hướng tây', 300000.0000, 0, 360, 30)
INSERT [dbo].[CANHO] ([IDCANHO], [SOPHONG], [TANG], [LO], [IDLOAIPHONG], [DIENTICH], [TIENNGHI], [MOTA], [GIATHUE], [TRANGTHAI], [CHUKY], [CHUKYDONG]) VALUES (2, N'202', 2, N'A', 1, CAST(100.00 AS Decimal(18, 2)), N'', N'', 10000000.0000, 1, 360, 30)
INSERT [dbo].[CANHO] ([IDCANHO], [SOPHONG], [TANG], [LO], [IDLOAIPHONG], [DIENTICH], [TIENNGHI], [MOTA], [GIATHUE], [TRANGTHAI], [CHUKY], [CHUKYDONG]) VALUES (3, N'203', 2, N'A', 3, CAST(100.30 AS Decimal(18, 2)), N'Cao cấp nhất', N'', 2000000.0000, 0, 360, 30)
SET IDENTITY_INSERT [dbo].[CANHO] OFF
GO
SET IDENTITY_INSERT [dbo].[CTDKCANHO] ON 

INSERT [dbo].[CTDKCANHO] ([IDCTDKCANHO], [IDCANHO], [MADIEUKHOAN]) VALUES (3, 7, N'DK1')
INSERT [dbo].[CTDKCANHO] ([IDCTDKCANHO], [IDCANHO], [MADIEUKHOAN]) VALUES (20, 7, N'DK4')
SET IDENTITY_INSERT [dbo].[CTDKCANHO] OFF
GO
SET IDENTITY_INSERT [dbo].[CTDKDICHVU] ON 

INSERT [dbo].[CTDKDICHVU] ([IDCTDKDICHVU], [IDDICHVU], [MADIEUKHOAN]) VALUES (1, 1, N'DK1')
INSERT [dbo].[CTDKDICHVU] ([IDCTDKDICHVU], [IDDICHVU], [MADIEUKHOAN]) VALUES (2, 1, N'DK2')
SET IDENTITY_INSERT [dbo].[CTDKDICHVU] OFF
GO
SET IDENTITY_INSERT [dbo].[CTHOPDONG] ON 

INSERT [dbo].[CTHOPDONG] ([IDCTHOPDONG], [IDHOPDONG], [MADIEUKHOAN]) VALUES (1, 4, N'DK1')
INSERT [dbo].[CTHOPDONG] ([IDCTHOPDONG], [IDHOPDONG], [MADIEUKHOAN]) VALUES (2, 4, N'DK4')
SET IDENTITY_INSERT [dbo].[CTHOPDONG] OFF
GO
SET IDENTITY_INSERT [dbo].[CTYEUCAUDICHVU] ON 

INSERT [dbo].[CTYEUCAUDICHVU] ([IDCTYEUCAUDICHVU], [IDYEUCAUDICHVU], [MADIEUKHOAN]) VALUES (1, 10, N'DK1')
INSERT [dbo].[CTYEUCAUDICHVU] ([IDCTYEUCAUDICHVU], [IDYEUCAUDICHVU], [MADIEUKHOAN]) VALUES (3, 13, N'DK1')
INSERT [dbo].[CTYEUCAUDICHVU] ([IDCTYEUCAUDICHVU], [IDYEUCAUDICHVU], [MADIEUKHOAN]) VALUES (2, 10, N'DK2')
SET IDENTITY_INSERT [dbo].[CTYEUCAUDICHVU] OFF
GO
SET IDENTITY_INSERT [dbo].[DICHVU] ON 

INSERT [dbo].[DICHVU] ([IDDICHVU], [TENDICHVU], [GHICHU], [CHUKY], [GIAHIENTAI], [TRANGTHAI]) VALUES (1, N'Giữ xe', N'Giữ xe cho căn hộ ', 30, 100000.0000, 0)
INSERT [dbo].[DICHVU] ([IDDICHVU], [TENDICHVU], [GHICHU], [CHUKY], [GIAHIENTAI], [TRANGTHAI]) VALUES (2, N'Bữa sáng', N'Ăn sáng ở quầy buffet hàng tuần', 30, 100000.0000, 0)
INSERT [dbo].[DICHVU] ([IDDICHVU], [TENDICHVU], [GHICHU], [CHUKY], [GIAHIENTAI], [TRANGTHAI]) VALUES (3, N'Wifi', N'Wifi 4G tốc độ cao', 30, 100000.0000, 0)
SET IDENTITY_INSERT [dbo].[DICHVU] OFF
GO
INSERT [dbo].[DIEUKHOAN] ([MA], [NOIDUNG]) VALUES (N'DK1', N'Tuân thủ các nguyên tắc sau dây')
INSERT [dbo].[DIEUKHOAN] ([MA], [NOIDUNG]) VALUES (N'DK2', N'Đóng phí trước thời hạn 5 ngày')
INSERT [dbo].[DIEUKHOAN] ([MA], [NOIDUNG]) VALUES (N'DK3', N'Tuân thủ nguyên tắc gìn giữ tài sản chung của khu chung cư')
GO
INSERT [dbo].[GIACANHO] ([IDBANGGIA], [IDCANHO], [GIA]) VALUES (1, 1, 300000.0000)
INSERT [dbo].[GIACANHO] ([IDBANGGIA], [IDCANHO], [GIA]) VALUES (1, 2, 10000000.0000)
INSERT [dbo].[GIACANHO] ([IDBANGGIA], [IDCANHO], [GIA]) VALUES (1, 3, 2000000.0000)
GO
INSERT [dbo].[GIADICHVU] ([IDBANGGIA], [IDDICHVU], [GIA]) VALUES (1, 1, 100000.0000)
INSERT [dbo].[GIADICHVU] ([IDBANGGIA], [IDDICHVU], [GIA]) VALUES (1, 2, 100000.0000)
INSERT [dbo].[GIADICHVU] ([IDBANGGIA], [IDDICHVU], [GIA]) VALUES (1, 3, 100000.0000)
GO
SET IDENTITY_INSERT [dbo].[HINHANH] ON 

INSERT [dbo].[HINHANH] ([IDHINHANH], [DUONGDAN], [TENDANGNHAP], [IDCANHO]) VALUES (3, N'D:\SpringBoostWorkspace\QuanLyHopDongDichVuChungCu\quanlychungcu\src\main\java\com\thuctap\quanlychungcu\image/98f26104-4103-4f5e-98b3-4f48d05ccb16.jpg', NULL, 2)
INSERT [dbo].[HINHANH] ([IDHINHANH], [DUONGDAN], [TENDANGNHAP], [IDCANHO]) VALUES (5, N'D:\SpringBoostWorkspace\QuanLyHopDongDichVuChungCu\quanlychungcu\src\main\java\com\thuctap\quanlychungcu\image/e86902f1-4749-45ec-9a97-fe7c75ffeeec.jpg', NULL, 1)
INSERT [dbo].[HINHANH] ([IDHINHANH], [DUONGDAN], [TENDANGNHAP], [IDCANHO]) VALUES (8, N'D:\SpringBoostWorkspace\QuanLyHopDongDichVuChungCu\quanlychungcu\src\main\java\com\thuctap\quanlychungcu\image/b31e4907-947b-4015-bf7e-9e2754d810af.jpg', NULL, 3)
SET IDENTITY_INSERT [dbo].[HINHANH] OFF
GO
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([SOHOADON], [THOIGIANTAO], [THOIGIANDONG], [TONGHOADON], [IDHOPDONG], [IDYEUCAUDICHVU], [TRANGTHAI]) VALUES (1, CAST(N'2024-07-20T15:54:19.827' AS DateTime), CAST(N'2024-07-20T15:54:19.827' AS DateTime), 1000000.0000, 4, NULL, 1)
INSERT [dbo].[HOADON] ([SOHOADON], [THOIGIANTAO], [THOIGIANDONG], [TONGHOADON], [IDHOPDONG], [IDYEUCAUDICHVU], [TRANGTHAI]) VALUES (7, CAST(N'2024-07-22T07:04:31.497' AS DateTime), CAST(N'2024-08-05T20:43:12.750' AS DateTime), 100000.0000, NULL, 11, 1)
INSERT [dbo].[HOADON] ([SOHOADON], [THOIGIANTAO], [THOIGIANDONG], [TONGHOADON], [IDHOPDONG], [IDYEUCAUDICHVU], [TRANGTHAI]) VALUES (107, CAST(N'2024-08-07T23:04:05.700' AS DateTime), NULL, 300000.0000, 9, NULL, 0)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
GO
SET IDENTITY_INSERT [dbo].[HOPDONG] ON 

INSERT [dbo].[HOPDONG] ([IDHOPDONG], [NGAYLAP], [MAKHACHHANG], [IDCANHO], [GIATRI], [NGAYBATDAU], [THOIHAN], [THOIGIANDONG], [CHUKYDONG], [CHUKY], [TRANGTHAI], [YEUCAU], [DUYET], [MABANQUANLY]) VALUES (2, CAST(N'2024-08-06T09:30:00.000' AS DateTime), N'trangialong', 1, 300000.0000, CAST(N'2024-08-06T09:30:00.000' AS DateTime), CAST(N'2024-08-06T09:30:00.000' AS DateTime), CAST(N'2024-08-06T09:30:00.000' AS DateTime), 30, 360, 1, 0, 1, NULL)
INSERT [dbo].[HOPDONG] ([IDHOPDONG], [NGAYLAP], [MAKHACHHANG], [IDCANHO], [GIATRI], [NGAYBATDAU], [THOIHAN], [THOIGIANDONG], [CHUKYDONG], [CHUKY], [TRANGTHAI], [YEUCAU], [DUYET], [MABANQUANLY]) VALUES (4, CAST(N'2024-07-20T15:54:19.243' AS DateTime), N'trangialong', 7, 1000000.0000, CAST(N'2024-07-26T22:49:00.000' AS DateTime), CAST(N'2024-08-26T23:49:00.000' AS DateTime), CAST(N'2024-08-25T22:49:00.000' AS DateTime), 30, 360, 0, 0, 1, NULL)
INSERT [dbo].[HOPDONG] ([IDHOPDONG], [NGAYLAP], [MAKHACHHANG], [IDCANHO], [GIATRI], [NGAYBATDAU], [THOIHAN], [THOIGIANDONG], [CHUKYDONG], [CHUKY], [TRANGTHAI], [YEUCAU], [DUYET], [MABANQUANLY]) VALUES (5, CAST(N'2024-07-26T21:49:00.000' AS DateTime), N'trangialong', 1, 300000.0000, CAST(N'2024-07-26T21:49:00.000' AS DateTime), CAST(N'2024-08-25T21:49:00.000' AS DateTime), CAST(N'2024-08-25T21:49:00.000' AS DateTime), 30, 360, 0, 0, 1, NULL)
SET IDENTITY_INSERT [dbo].[HOPDONG] OFF
GO
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [HO], [TEN], [SDT], [EMAIL], [CMND]) VALUES (N'trangialong', N'Trần', N'Gia Long', N'0920849726', N'trangialong@gmail.com', N'542324343432')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [HO], [TEN], [SDT], [EMAIL], [CMND]) VALUES (N'trangialong2', N'Trần', N'Long', N'2132132132', N'longsoaica18@gmail.com', N'213213213213')
GO
SET IDENTITY_INSERT [dbo].[LOAIPHONG] ON 

INSERT [dbo].[LOAIPHONG] ([IDLOAIPHONG], [TENLOAIPHONG]) VALUES (2, N'Phòng ba giường')
INSERT [dbo].[LOAIPHONG] ([IDLOAIPHONG], [TENLOAIPHONG]) VALUES (8, N'Phòng giường tầng')
INSERT [dbo].[LOAIPHONG] ([IDLOAIPHONG], [TENLOAIPHONG]) VALUES (1, N'Phòng hai giường')
SET IDENTITY_INSERT [dbo].[LOAIPHONG] OFF
GO
SET IDENTITY_INSERT [dbo].[QUYEN] ON 

INSERT [dbo].[QUYEN] ([IDQUYEN], [TENQUYEN]) VALUES (2, N'admin')
INSERT [dbo].[QUYEN] ([IDQUYEN], [TENQUYEN]) VALUES (3, N'khachhang')
INSERT [dbo].[QUYEN] ([IDQUYEN], [TENQUYEN]) VALUES (1, N'quanly')
SET IDENTITY_INSERT [dbo].[QUYEN] OFF
GO
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [IDQUYEN], [KHOA]) VALUES (N'NV01', N'$2a$10$eh.RxJzvu8MNCWSSyviwo.iv3lovV9.2vB8bxSdmUBw8XSaDxwNDS', 2, 0)
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [IDQUYEN], [KHOA]) VALUES (N'NV2', N'$2a$10$HbH9bpzadSfBcZ9GvtJ5tuq1VvNovxs88IfkySAprSoof2TU6V4dS', 1, 0)
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [IDQUYEN], [KHOA]) VALUES (N'NV3', N'$2a$10$yiMRxufMxFTPUA9ca679deBUygTM42YmTBXRwUtqTRNUTzWukNUxK', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[YEUCAUDICHVU] ON 

INSERT [dbo].[YEUCAUDICHVU] ([IDYEUCAUDICHVU], [IDHOPDONG], [IDDICHVU], [GIATRA], [NGAYYEUCAU], [THOIHAN], [CHUKY], [TRANGTHAI], [YEUCAU], [DUYET], [MABANQUANLY]) VALUES (10, 2, 1, 100000.0000, CAST(N'2024-07-21T01:37:51.187' AS DateTime), CAST(N'2024-07-21T01:37:51.187' AS DateTime), 30, 1, 0, 0, NULL)
INSERT [dbo].[YEUCAUDICHVU] ([IDYEUCAUDICHVU], [IDHOPDONG], [IDDICHVU], [GIATRA], [NGAYYEUCAU], [THOIHAN], [CHUKY], [TRANGTHAI], [YEUCAU], [DUYET], [MABANQUANLY]) VALUES (11, 2, 3, 100000.0000, CAST(N'2024-07-21T01:41:57.023' AS DateTime), CAST(N'2024-07-21T01:41:57.023' AS DateTime), 30, 1, 0, 0, NULL)
INSERT [dbo].[YEUCAUDICHVU] ([IDYEUCAUDICHVU], [IDHOPDONG], [IDDICHVU], [GIATRA], [NGAYYEUCAU], [THOIHAN], [CHUKY], [TRANGTHAI], [YEUCAU], [DUYET], [MABANQUANLY]) VALUES (12, 2, 4, 100000.0000, CAST(N'2024-07-21T18:19:07.113' AS DateTime), CAST(N'2024-07-21T18:19:07.113' AS DateTime), 0, 0, 0, 2, N'NV2')
SET IDENTITY_INSERT [dbo].[YEUCAUDICHVU] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_CANHO_SOPHONG_TANG_LO]    Script Date: 8/8/2024 1:44:41 AM ******/
ALTER TABLE [dbo].[CANHO] ADD  CONSTRAINT [UK_CANHO_SOPHONG_TANG_LO] UNIQUE NONCLUSTERED 
(
	[SOPHONG] ASC,
	[TANG] ASC,
	[LO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_CTDKCANHO]    Script Date: 8/8/2024 1:44:41 AM ******/
ALTER TABLE [dbo].[CTDKCANHO] ADD  CONSTRAINT [UK_CTDKCANHO] UNIQUE NONCLUSTERED 
(
	[IDCANHO] ASC,
	[MADIEUKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_CTDKDICHVU]    Script Date: 8/8/2024 1:44:41 AM ******/
ALTER TABLE [dbo].[CTDKDICHVU] ADD  CONSTRAINT [UK_CTDKDICHVU] UNIQUE NONCLUSTERED 
(
	[IDDICHVU] ASC,
	[MADIEUKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_IDDIEUKHOAN_IDHOPDONG_CTDK]    Script Date: 8/8/2024 1:44:41 AM ******/
ALTER TABLE [dbo].[CTHOPDONG] ADD  CONSTRAINT [UK_IDDIEUKHOAN_IDHOPDONG_CTDK] UNIQUE NONCLUSTERED 
(
	[MADIEUKHOAN] ASC,
	[IDHOPDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_CTYEUCAUDICHVU]    Script Date: 8/8/2024 1:44:41 AM ******/
ALTER TABLE [dbo].[CTYEUCAUDICHVU] ADD  CONSTRAINT [UK_CTYEUCAUDICHVU] UNIQUE NONCLUSTERED 
(
	[MADIEUKHOAN] ASC,
	[IDYEUCAUDICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_TENDICHVU_Table_1]    Script Date: 8/8/2024 1:44:41 AM ******/
ALTER TABLE [dbo].[DICHVU] ADD  CONSTRAINT [UK_TENDICHVU_Table_1] UNIQUE NONCLUSTERED 
(
	[TENDICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_TENLOAIPHONG_LOAIPHONG]    Script Date: 8/8/2024 1:44:41 AM ******/
ALTER TABLE [dbo].[LOAIPHONG] ADD  CONSTRAINT [UK_TENLOAIPHONG_LOAIPHONG] UNIQUE NONCLUSTERED 
(
	[TENLOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_TENQUYEN_QUYEN]    Script Date: 8/8/2024 1:44:41 AM ******/
ALTER TABLE [dbo].[QUYEN] ADD  CONSTRAINT [UK_TENQUYEN_QUYEN] UNIQUE NONCLUSTERED 
(
	[TENQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_CHIPHITHEM]    Script Date: 8/8/2024 1:44:41 AM ******/
ALTER TABLE [dbo].[YEUCAUDICHVU] ADD  CONSTRAINT [UK_CHIPHITHEM] UNIQUE NONCLUSTERED 
(
	[IDHOPDONG] ASC,
	[IDDICHVU] ASC,
	[NGAYYEUCAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANGGIA] ADD  CONSTRAINT [DF_BANGGIA_THOIGIANBATDAU]  DEFAULT (getdate()) FOR [THOIGIANBATDAU]
GO
ALTER TABLE [dbo].[BANGGIA] ADD  CONSTRAINT [DF_BANGGIA_THOIGIANKETTHUC]  DEFAULT (getdate()) FOR [THOIGIANKETTHUC]
GO
ALTER TABLE [dbo].[BANGGIA] ADD  CONSTRAINT [DF_BANGGIA_APDUNG]  DEFAULT ((0)) FOR [APDUNG]
GO
ALTER TABLE [dbo].[BANQUANLY] ADD  CONSTRAINT [DF_BANQUANLY_NGHI]  DEFAULT ((0)) FOR [NGHI]
GO
ALTER TABLE [dbo].[CANHO] ADD  CONSTRAINT [DF_CANHO_LO]  DEFAULT ('A') FOR [LO]
GO
ALTER TABLE [dbo].[CANHO] ADD  CONSTRAINT [DF_CANHO_TRANGTHAI]  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[CANHO] ADD  CONSTRAINT [DF_CANHO_CHUKY]  DEFAULT ((30)) FOR [CHUKY]
GO
ALTER TABLE [dbo].[DICHVU] ADD  CONSTRAINT [DF_DICHVU_CHUKY]  DEFAULT ((0)) FOR [CHUKY]
GO
ALTER TABLE [dbo].[DICHVU] ADD  CONSTRAINT [DF_DICHVU_TRANGTHAI]  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HOADON_THOIGIANTAO_1]  DEFAULT (getdate()) FOR [THOIGIANTAO]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HOADON_TRANGTHAI]  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[HOPDONG] ADD  CONSTRAINT [DF_HOPDONG_NGAYLAP]  DEFAULT (getdate()) FOR [NGAYLAP]
GO
ALTER TABLE [dbo].[HOPDONG] ADD  CONSTRAINT [DF_HOPDONG_NGAYBATDAU]  DEFAULT (getdate()) FOR [NGAYBATDAU]
GO
ALTER TABLE [dbo].[HOPDONG] ADD  CONSTRAINT [DF_HOPDONG_CHUKYDONG]  DEFAULT ((30)) FOR [CHUKYDONG]
GO
ALTER TABLE [dbo].[HOPDONG] ADD  CONSTRAINT [DF_HOPDONG_CHUKY]  DEFAULT ((30)) FOR [CHUKY]
GO
ALTER TABLE [dbo].[HOPDONG] ADD  CONSTRAINT [DF_HOPDONG_TRANGTHAI]  DEFAULT ((1)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [DF_TAIKHOAN_KHOA]  DEFAULT ((0)) FOR [KHOA]
GO
ALTER TABLE [dbo].[YEUCAUDICHVU] ADD  CONSTRAINT [DF_CHIPHITHEM_NGAYYEUCAU]  DEFAULT (getdate()) FOR [NGAYYEUCAU]
GO
ALTER TABLE [dbo].[YEUCAUDICHVU] ADD  CONSTRAINT [DF_CHIPHITHEM_CHUKY]  DEFAULT ((30)) FOR [CHUKY]
GO
ALTER TABLE [dbo].[YEUCAUDICHVU] ADD  CONSTRAINT [DF_CHIPHITHEM_TRANGTHAI]  DEFAULT ((1)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[YEUCAUDICHVU] ADD  CONSTRAINT [DF_YEUCAUDICHVU_YEUCAU]  DEFAULT ((0)) FOR [YEUCAU]
GO
ALTER TABLE [dbo].[YEUCAUDICHVU] ADD  CONSTRAINT [DF_YEUCAUDICHVU_DUYET]  DEFAULT ((0)) FOR [DUYET]
GO
ALTER TABLE [dbo].[BANGGIA]  WITH CHECK ADD  CONSTRAINT [FK_BANGGIA_BANQUANLY] FOREIGN KEY([MABANQUANLY])
REFERENCES [dbo].[BANQUANLY] ([MA])
GO
ALTER TABLE [dbo].[BANGGIA] CHECK CONSTRAINT [FK_BANGGIA_BANQUANLY]
GO
ALTER TABLE [dbo].[BANQUANLY]  WITH CHECK ADD  CONSTRAINT [FK_BANQUANLY_TAIKHOAN] FOREIGN KEY([MA])
REFERENCES [dbo].[TAIKHOAN] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[BANQUANLY] CHECK CONSTRAINT [FK_BANQUANLY_TAIKHOAN]
GO
ALTER TABLE [dbo].[CANHO]  WITH CHECK ADD  CONSTRAINT [FK_CANHO_LOAIPHONG] FOREIGN KEY([IDLOAIPHONG])
REFERENCES [dbo].[LOAIPHONG] ([IDLOAIPHONG])
GO
ALTER TABLE [dbo].[CANHO] CHECK CONSTRAINT [FK_CANHO_LOAIPHONG]
GO
ALTER TABLE [dbo].[CTDKCANHO]  WITH CHECK ADD  CONSTRAINT [FK_CTDKCANHO_CANHO] FOREIGN KEY([IDCANHO])
REFERENCES [dbo].[CANHO] ([IDCANHO])
GO
ALTER TABLE [dbo].[CTDKCANHO] CHECK CONSTRAINT [FK_CTDKCANHO_CANHO]
GO
ALTER TABLE [dbo].[CTDKCANHO]  WITH CHECK ADD  CONSTRAINT [FK_CTDKCANHO_DIEUKHOAN] FOREIGN KEY([MADIEUKHOAN])
REFERENCES [dbo].[DIEUKHOAN] ([MA])
GO
ALTER TABLE [dbo].[CTDKCANHO] CHECK CONSTRAINT [FK_CTDKCANHO_DIEUKHOAN]
GO
ALTER TABLE [dbo].[CTDKDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_CTDKDICHVU_DICHVU] FOREIGN KEY([IDDICHVU])
REFERENCES [dbo].[DICHVU] ([IDDICHVU])
GO
ALTER TABLE [dbo].[CTDKDICHVU] CHECK CONSTRAINT [FK_CTDKDICHVU_DICHVU]
GO
ALTER TABLE [dbo].[CTDKDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_CTDKDICHVU_DIEUKHOAN] FOREIGN KEY([MADIEUKHOAN])
REFERENCES [dbo].[DIEUKHOAN] ([MA])
GO
ALTER TABLE [dbo].[CTDKDICHVU] CHECK CONSTRAINT [FK_CTDKDICHVU_DIEUKHOAN]
GO
ALTER TABLE [dbo].[CTHOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_CTHOPDONG_DIEUKHOAN] FOREIGN KEY([MADIEUKHOAN])
REFERENCES [dbo].[DIEUKHOAN] ([MA])
GO
ALTER TABLE [dbo].[CTHOPDONG] CHECK CONSTRAINT [FK_CTHOPDONG_DIEUKHOAN]
GO
ALTER TABLE [dbo].[CTHOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_CTHOPDONG_HOPDONG] FOREIGN KEY([IDHOPDONG])
REFERENCES [dbo].[HOPDONG] ([IDHOPDONG])
GO
ALTER TABLE [dbo].[CTHOPDONG] CHECK CONSTRAINT [FK_CTHOPDONG_HOPDONG]
GO
ALTER TABLE [dbo].[CTYEUCAUDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_CTYEUCAUDICHVU_DIEUKHOAN] FOREIGN KEY([MADIEUKHOAN])
REFERENCES [dbo].[DIEUKHOAN] ([MA])
GO
ALTER TABLE [dbo].[CTYEUCAUDICHVU] CHECK CONSTRAINT [FK_CTYEUCAUDICHVU_DIEUKHOAN]
GO
ALTER TABLE [dbo].[CTYEUCAUDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_CTYEUCAUDICHVU_YEUCAUDICHVU] FOREIGN KEY([IDYEUCAUDICHVU])
REFERENCES [dbo].[YEUCAUDICHVU] ([IDYEUCAUDICHVU])
GO
ALTER TABLE [dbo].[CTYEUCAUDICHVU] CHECK CONSTRAINT [FK_CTYEUCAUDICHVU_YEUCAUDICHVU]
GO
ALTER TABLE [dbo].[GIACANHO]  WITH CHECK ADD  CONSTRAINT [FK_GIACANHO_BANGGIA] FOREIGN KEY([IDBANGGIA])
REFERENCES [dbo].[BANGGIA] ([IDBANGGIA])
GO
ALTER TABLE [dbo].[GIACANHO] CHECK CONSTRAINT [FK_GIACANHO_BANGGIA]
GO
ALTER TABLE [dbo].[GIACANHO]  WITH CHECK ADD  CONSTRAINT [FK_GIACANHO_CANHO] FOREIGN KEY([IDCANHO])
REFERENCES [dbo].[CANHO] ([IDCANHO])
GO
ALTER TABLE [dbo].[GIACANHO] CHECK CONSTRAINT [FK_GIACANHO_CANHO]
GO
ALTER TABLE [dbo].[GIADICHVU]  WITH CHECK ADD  CONSTRAINT [FK_GIADICHVU_BANGGIA] FOREIGN KEY([IDBANGGIA])
REFERENCES [dbo].[BANGGIA] ([IDBANGGIA])
GO
ALTER TABLE [dbo].[GIADICHVU] CHECK CONSTRAINT [FK_GIADICHVU_BANGGIA]
GO
ALTER TABLE [dbo].[GIADICHVU]  WITH CHECK ADD  CONSTRAINT [FK_GIADICHVU_DICHVU2] FOREIGN KEY([IDDICHVU])
REFERENCES [dbo].[DICHVU] ([IDDICHVU])
GO
ALTER TABLE [dbo].[GIADICHVU] CHECK CONSTRAINT [FK_GIADICHVU_DICHVU2]
GO
ALTER TABLE [dbo].[HINHANH]  WITH CHECK ADD  CONSTRAINT [FK_HINHANH_CANHO] FOREIGN KEY([IDCANHO])
REFERENCES [dbo].[CANHO] ([IDCANHO])
GO
ALTER TABLE [dbo].[HINHANH] CHECK CONSTRAINT [FK_HINHANH_CANHO]
GO
ALTER TABLE [dbo].[HINHANH]  WITH CHECK ADD  CONSTRAINT [FK_HINHANH_TAIKHOAN] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[TAIKHOAN] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[HINHANH] CHECK CONSTRAINT [FK_HINHANH_TAIKHOAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_HOPDONG] FOREIGN KEY([IDHOPDONG])
REFERENCES [dbo].[HOPDONG] ([IDHOPDONG])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_HOPDONG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_YEUCAUDICHVU] FOREIGN KEY([IDYEUCAUDICHVU])
REFERENCES [dbo].[YEUCAUDICHVU] ([IDYEUCAUDICHVU])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_YEUCAUDICHVU]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_BANQUANLY] FOREIGN KEY([MABANQUANLY])
REFERENCES [dbo].[BANQUANLY] ([MA])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_BANQUANLY]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_CANHO] FOREIGN KEY([IDCANHO])
REFERENCES [dbo].[CANHO] ([IDCANHO])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_CANHO]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_TAIKHOAN] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[TAIKHOAN] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_TAIKHOAN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_QUYEN] FOREIGN KEY([IDQUYEN])
REFERENCES [dbo].[QUYEN] ([IDQUYEN])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_QUYEN]
GO
ALTER TABLE [dbo].[YEUCAUDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_YEUCAUDICHVU_BANQUANLY] FOREIGN KEY([MABANQUANLY])
REFERENCES [dbo].[BANQUANLY] ([MA])
GO
ALTER TABLE [dbo].[YEUCAUDICHVU] CHECK CONSTRAINT [FK_YEUCAUDICHVU_BANQUANLY]
GO
ALTER TABLE [dbo].[YEUCAUDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_YEUCAUDICHVU_DICHVU] FOREIGN KEY([IDDICHVU])
REFERENCES [dbo].[DICHVU] ([IDDICHVU])
GO
ALTER TABLE [dbo].[YEUCAUDICHVU] CHECK CONSTRAINT [FK_YEUCAUDICHVU_DICHVU]
GO
ALTER TABLE [dbo].[YEUCAUDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_YEUCAUDICHVU_HOPDONG] FOREIGN KEY([IDHOPDONG])
REFERENCES [dbo].[HOPDONG] ([IDHOPDONG])
GO
ALTER TABLE [dbo].[YEUCAUDICHVU] CHECK CONSTRAINT [FK_YEUCAUDICHVU_HOPDONG]
GO
ALTER TABLE [dbo].[BANGGIA]  WITH CHECK ADD  CONSTRAINT [CK_BANGGIA_THOIGIANBATDAU_THOIGIANKETTHUC] CHECK  (([THOIGIANBATDAU]<=[THOIGIANKETTHUC]))
GO
ALTER TABLE [dbo].[BANGGIA] CHECK CONSTRAINT [CK_BANGGIA_THOIGIANBATDAU_THOIGIANKETTHUC]
GO
ALTER TABLE [dbo].[BANQUANLY]  WITH CHECK ADD  CONSTRAINT [CK_BANQUANLY_CMND] CHECK  (([CMND] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[BANQUANLY] CHECK CONSTRAINT [CK_BANQUANLY_CMND]
GO
ALTER TABLE [dbo].[BANQUANLY]  WITH CHECK ADD  CONSTRAINT [CK_BANQUANLY_SDT] CHECK  (([SDT] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[BANQUANLY] CHECK CONSTRAINT [CK_BANQUANLY_SDT]
GO
ALTER TABLE [dbo].[CANHO]  WITH CHECK ADD  CONSTRAINT [CK_CANHO_CHUKY] CHECK  (([CHUKY]>=(30) AND [CHUKY]<=(365)))
GO
ALTER TABLE [dbo].[CANHO] CHECK CONSTRAINT [CK_CANHO_CHUKY]
GO
ALTER TABLE [dbo].[CANHO]  WITH CHECK ADD  CONSTRAINT [CK_CANHO_CHUKYDONG] CHECK  (([CHUKYDONG]>=(30) AND [CHUKYDONG]<=[CHUKY]))
GO
ALTER TABLE [dbo].[CANHO] CHECK CONSTRAINT [CK_CANHO_CHUKYDONG]
GO
ALTER TABLE [dbo].[CANHO]  WITH CHECK ADD  CONSTRAINT [CK_CANHO_DIENTICH] CHECK  (([DIENTICH]>(0)))
GO
ALTER TABLE [dbo].[CANHO] CHECK CONSTRAINT [CK_CANHO_DIENTICH]
GO
ALTER TABLE [dbo].[CANHO]  WITH CHECK ADD  CONSTRAINT [CK_CANHO_GIATHUE] CHECK  (([GIATHUE]>=(0)))
GO
ALTER TABLE [dbo].[CANHO] CHECK CONSTRAINT [CK_CANHO_GIATHUE]
GO
ALTER TABLE [dbo].[DICHVU]  WITH CHECK ADD  CONSTRAINT [CK_DICHVU_CHUKY] CHECK  (([CHUKY]>=(0) AND [CHUKY]<=(365)))
GO
ALTER TABLE [dbo].[DICHVU] CHECK CONSTRAINT [CK_DICHVU_CHUKY]
GO
ALTER TABLE [dbo].[DICHVU]  WITH CHECK ADD  CONSTRAINT [CK_DICHVU_GIAHIENTAI] CHECK  (([GIAHIENTAI]>=(0)))
GO
ALTER TABLE [dbo].[DICHVU] CHECK CONSTRAINT [CK_DICHVU_GIAHIENTAI]
GO
ALTER TABLE [dbo].[GIACANHO]  WITH CHECK ADD  CONSTRAINT [CK_GIA_GIACANHO] CHECK  (([GIA]>=(0)))
GO
ALTER TABLE [dbo].[GIACANHO] CHECK CONSTRAINT [CK_GIA_GIACANHO]
GO
ALTER TABLE [dbo].[GIADICHVU]  WITH CHECK ADD  CONSTRAINT [CK_GIA_GIADICHVU] CHECK  (([GIA]>=(0)))
GO
ALTER TABLE [dbo].[GIADICHVU] CHECK CONSTRAINT [CK_GIA_GIADICHVU]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [CK_HOADON_THOIGIANTAO] CHECK  (([THOIGIANTAO]<=[THOIGIANDONG]))
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [CK_HOADON_THOIGIANTAO]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [CK_HOADON_TONGHOADON] CHECK  (([TONGHOADON]>=(0)))
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [CK_HOADON_TONGHOADON]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [CK_HOPDONG_CHUKY] CHECK  (([CHUKY]>=(30) AND [CHUKY]<=(365)))
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [CK_HOPDONG_CHUKY]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [CK_HOPDONG_CHUKYDONG] CHECK  (([CHUKYDONG]<=[CHUKY]))
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [CK_HOPDONG_CHUKYDONG]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [CK_HOPDONG_DUYET] CHECK  (([DUYET]=(0) OR [DUYET]=(1) OR [DUYET]=(2)))
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [CK_HOPDONG_DUYET]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [CK_HOPDONG_GIATRI] CHECK  (([GIATRI]>=(0)))
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [CK_HOPDONG_GIATRI]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [CK_HOPDONG_NGAYBATDAU_THOIHAN] CHECK  (([NGAYBATDAU]<=[THOIHAN]))
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [CK_HOPDONG_NGAYBATDAU_THOIHAN]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [CK_HOPDONG_NGAYLAP_NGAYBATDAU] CHECK  (([NGAYLAP]<=[NGAYBATDAU]))
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [CK_HOPDONG_NGAYLAP_NGAYBATDAU]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [CK_HOPDONG_THOIGIANDONG] CHECK  (([THOIGIANDONG]>=[NGAYBATDAU] AND [THOIGIANDONG]<=[THOIHAN]))
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [CK_HOPDONG_THOIGIANDONG]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [CK_HOPDONG_YEUCAU] CHECK  (([YEUCAU]=(0) OR [YEUCAU]=(1) OR [YEUCAU]=(2)))
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [CK_HOPDONG_YEUCAU]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_KHACHHANG_CMND] CHECK  (([CMND] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_KHACHHANG_CMND]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_KHACHHANG_SDT] CHECK  (([SDT] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_KHACHHANG_SDT]
GO
ALTER TABLE [dbo].[YEUCAUDICHVU]  WITH CHECK ADD  CONSTRAINT [CK_CHIPHITHEM_CHUKY] CHECK  (([CHUKY]>=(0) AND [CHUKY]<=(365)))
GO
ALTER TABLE [dbo].[YEUCAUDICHVU] CHECK CONSTRAINT [CK_CHIPHITHEM_CHUKY]
GO
ALTER TABLE [dbo].[YEUCAUDICHVU]  WITH CHECK ADD  CONSTRAINT [CK_GIATRA_CHIPHITHEM] CHECK  (([GIATRA]>=(0)))
GO
ALTER TABLE [dbo].[YEUCAUDICHVU] CHECK CONSTRAINT [CK_GIATRA_CHIPHITHEM]
GO
ALTER TABLE [dbo].[YEUCAUDICHVU]  WITH CHECK ADD  CONSTRAINT [CK_YEUCAUDICHVU_DUYET] CHECK  (([DUYET]=(0) OR [DUYET]=(1) OR [DUYET]=(2)))
GO
ALTER TABLE [dbo].[YEUCAUDICHVU] CHECK CONSTRAINT [CK_YEUCAUDICHVU_DUYET]
GO
ALTER TABLE [dbo].[YEUCAUDICHVU]  WITH CHECK ADD  CONSTRAINT [CK_YEUCAUDICHVU_YEUCAU] CHECK  (([YEUCAU]=(0) OR [YEUCAU]=(1)))
GO
ALTER TABLE [dbo].[YEUCAUDICHVU] CHECK CONSTRAINT [CK_YEUCAUDICHVU_YEUCAU]
GO
/****** Object:  StoredProcedure [dbo].[SP_HIENTHICANHO]    Script Date: 8/8/2024 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_HIENTHICANHO]
AS
BEGIN
	DECLARE @IDBANGGIA BIGINT

	SELECT IDCANHO
	INTO #CANHODANGTHUE
	FROM HOPDONG
	WHERE (GETDATE()<=DATEADD(day,7,THOIHAN))
	BEGIN TRY
		SET @IDBANGGIA =(SELECT IDBANGGIA FROM BANGGIA WHERE THOIGIANBATDAU<= GETDATE() 
		AND THOIGIANKETTHUC >=GETDATE() AND APDUNG=1)
	END TRY
	BEGIN CATCH
		RAISERROR(N'Có hai bảng giá đang cùng hoạt động',16,1)
		RETURN
	END CATCH
	SELECT CANHO.IDCANHO, SOPHONG, TANG, LO, 
	LOAIPHONG.TENLOAIPHONG, DIENTICH, TIENNGHI, MOTA, GIATHUE, CHUKY, CHUKYDONG, GIAKHUYENMAI=GIACANHO.GIA,
	TRANGTHAITHUE = (CASE WHEN CANHO.IDCANHO IN (SELECT IDCANHO FROM #CANHODANGTHUE) THEN 1 ELSE 0 END)
	FROM
	(SELECT * FROM CANHO WHERE TRANGTHAI=0) AS CANHO LEFT JOIN
	(SELECT * FROM GIACANHO WHERE IDBANGGIA = @IDBANGGIA) AS GIACANHO ON CANHO.IDCANHO = GIACANHO.IDCANHO,
	(SELECT * FROM LOAIPHONG) AS LOAIPHONG
	WHERE LOAIPHONG.IDLOAIPHONG = CANHO.IDLOAIPHONG
END
GO
/****** Object:  StoredProcedure [dbo].[SP_HIENTHIDICHVU]    Script Date: 8/8/2024 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_HIENTHIDICHVU]
AS
BEGIN
	DECLARE @IDBANGGIA BIGINT
	BEGIN TRY
		SET @IDBANGGIA =(SELECT IDBANGGIA FROM BANGGIA WHERE THOIGIANBATDAU<= GETDATE() 
		AND THOIGIANKETTHUC >=GETDATE() AND APDUNG=1)
	END TRY
	BEGIN CATCH
		RAISERROR(N'Có hai bảng giá đang cùng hoạt động',16,1)
		RETURN
	END CATCH
	SELECT DICHVU.IDDICHVU, TENDICHVU, GHICHU, CHUKY, GIAHIENTAI, GIAKHUYENMAI = GIADICHVU.GIA
	FROM
	(SELECT * FROM DICHVU WHERE TRANGTHAI=0) AS DICHVU LEFT JOIN
	(SELECT * FROM GIADICHVU WHERE IDBANGGIA=@IDBANGGIA) AS GIADICHVU
	ON DICHVU.IDDICHVU = GIADICHVU.IDDICHVU
END
GO
/****** Object:  Trigger [dbo].[u_DIEUKHOAN]    Script Date: 8/8/2024 1:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[u_DIEUKHOAN]
ON [dbo].[DIEUKHOAN]
AFTER UPDATE
AS
BEGIN
	SET NOCOUNT ON;
	IF(EXISTS(SELECT 1 FROM CTHOPDONG ct, inserted i 
	WHERE ct.MADIEUKHOAN=i.MA))
	BEGIN
		RAISERROR(N'Điều khoản đã được sử dụng trong hợp đồng không thể thay đổi',16,1);
		ROLLBACK TRANSACTION;
	END
	IF(EXISTS(SELECT 1 FROM CTYEUCAUDICHVU ct, inserted i 
	WHERE ct.MADIEUKHOAN=i.MA))
	BEGIN
		RAISERROR(N'Điều khoản đã được sử dụng trong hợp đồng dịch vụ không thể thay đổi',16,1);
		ROLLBACK TRANSACTION;
	END
END
GO
ALTER TABLE [dbo].[DIEUKHOAN] ENABLE TRIGGER [u_DIEUKHOAN]
GO
USE [master]
GO
